<div class="container mt-4">
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="card p-4 shadow-sm">
    <h3 class="mb-4">Registro de Nueva Incorporación</h3>

    <div *ngFor="let field of fields" class="mb-3">
      <label class="form-label font-weight-bold">{{ field.label }}</label>

      <input *ngIf="field.fieldType === 'TEXT' || field.fieldType === 'NUMBER'" 
             [type]="field.fieldType === 'TEXT' ? 'text' : 'number'" 
             [formControlName]="field.id" 
             class="form-control">

      <input *ngIf="field.fieldType === 'FILE'" 
             type="file" 
             [accept]="field.accept"
             (change)="onFileChange($event, field.id)" 
             class="form-control">

      <select *ngIf="field.fieldType === 'SELECT'" 
              [formControlName]="field.id" 
              class="form-select">
        <option value="">Seleccione una opción...</option>
        <option *ngFor="let opt of field.options" [value]="opt.optionValue">
          {{ opt.optionValue }}
        </option>
      </select>

      <div *ngIf="dynamicForm.get(field.id.toString())?.invalid && dynamicForm.get(field.id.toString())?.touched" class="text-danger small mt-1">
        Este campo es obligatorio.
      </div>
    </div>

    <button type="submit" [disabled]="dynamicForm.invalid" class="btn btn-success w-100">
      Enviar Documentación
    </button>
  </form>
</div>